<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="container">
    <h1>FullStack Sample</h1>
    <h2>Welcome to the index page <%= name %>.</h2>
</div>
<%- include('./partials/foot.ejs') %>
